@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* Body */
body{
    background: #1b1b1b;
}
h2, h3{
    color: hsl(71, 100%, 92%);
    font-family: 'Lobster', cursive;
}
p{
    color: whitesmoke;
    font-family: 'Dancing Script', cursive;
}
.container{
    background: #757575;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 20px;
    margin-top: 50px;
}
.p-contact{
    font-size: 25px;
}
/* Header */
header{
    background: #912323;
}
.text-center{
    display: flex;
    justify-content: space-between;
}
.titre-header{
    font-family: 'Lobster', cursive;
    padding-top: 50px;
    color: #f8ffd7;
    transform: translateX(-800px);
}
.logo-site{
    height: 11vh;
    padding: 10px 0px 10px 10px;
} 
/* Bouton Menu */
.btn-group{
    height: 5vh;
    transform: translateY(30px);
    z-index: 99;
}
.dropdown-toggle{
    background: #1b1b1b;
}
#btn-menu{
    position: fixed;
    right: 0%;
}
.dropdown-menu{
    background: #757575;
}
/* video */
#video-presta{
    padding-bottom: 10px;
    padding-top: 20px;
}
video{
    border-radius: 10px;
}
/* Carousel Plats */
.carousel-row{
    margin: 0 -12px !important;
}
.carousel-item h5{
    text-shadow: 4px 4px 4px rgb(10, 6, 6);
    font-size: 30px;
    font-family: 'Lobster', cursive;
    transform: translateY(-50px);
}
.p-carousel{
    background: rgba(0, 0, 0, 0.534);
    text-shadow: 4px 4px 4px rgb(10, 6, 6);
    font-size: 20px;
}
.carousel-inner{
    border-radius: 10px;
}
/* Carte restaurant */
.carte-resto{
    color: #912323;
    font-size: 18px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.carte-resto:hover{
    color: black;
}
.row{
    margin: 0;
    padding: 0;
}
.h2-contact{
    padding-bottom: 20px;
}
#maps{
    border-radius: 10px;
}
.content-contact{
    padding-top: 35px;
}
.content-contact-ad{
    padding-top: 15px;
}
.content-contact-tel{
    padding-top: 25px;
}
/* Avis clients / Témoignages / Contact */
#rating-div{
    background-color: rgb(145, 111, 48);
    border-radius: 10px;
    padding-bottom: 20px;
}
.avis-client{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 28px;
}
.avis-client:hover{
    color: #aaa;
}
.rating {
    direction: rtl;
    display: flex;
    justify-content: center;
}
.etoile {
    color: rgb(240, 219, 32);
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}
.etoile:hover{
    color: orange;
}
.h-btn{
    font-family: 'Lobster', cursive;
    font-size: 20px;
}
.offcanvas{
    display: flex;
    justify-content: center;
}
.offcanvas-title{
    font-size: 25px;
    text-align: center;
}
.offcanvas-header{
    background-color: #912323;
}
.offcanvas-body{
    background-color: #757575;
}
.offcanvas-body input{
    text-align: center;
    background-color: #f8ffd7;
}
.p-resa{
    color: black;
    font-size: 30px;
}
.span-tel-resa{
    color: #f8ffd7;
}
.bouton-canvas{
    display: flex;
    justify-content: space-between;
}
textarea{
    background-color: #f8ffd7;
}
.btn-evy-msg{
    border-radius: 5px;
}
.btn-evy-msg:hover{
    color: #757575;
}
/* Mentions légales */
h6{
    color: #912323;
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
}
.modal-body {
    color: black;
    background: #757575;
}
.modal-header{
    background: #912323;
}
.modal-footer{
    background: #912323;
}
.text-decoration-none{
    color: #f8ffd7;
    font-weight: bold;
}
.text-decoration-none:hover{
    color: #f8ffd78f;
}
.mtn-leg{
    color: black;
    display: flex;
    justify-content: center;
}
.mtn-leg:hover{
    color: #757575;
}
/* footer */
footer{
    background: #912323;
    width: 100%;
}
.titre-footer{
    font-family: 'Lobster', cursive; 
    color: #f8ffd7;  
    display: flex;
    justify-content: center;
    align-self: center;
}
/* Button Back To Top */
#myBtn {
    border: none; 
    border-radius: 50px;
    background-color: #f8ffd7; 
    cursor: pointer; 
    padding: 15px;   
}
#myBtn:hover {
    background-color: #555; 
}
.back-to-up{
    display: flex;
    justify-content: flex-end;
}
.but{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}
#fleche{
    width: 40px;
}
/* Media Querry */
@media (max-width: 1030px){
    .img, .img-footer{
        padding: 0;
    }
    #video-presta{
        height: auto;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    .btn-group{
        padding: 0;
        right: 45px;
    }
    .titre-header{
        padding-top: 35px;
        padding-left: 10px;
        transform: translateX(-400px);
    }
    .dropdown-menu{
        margin-left: 50px !important;
        font-size: 18px;
    }
    .titre-footer{
        padding-top: 5px;
    }
    .offcanvas{
        height: 400px;
        width: 400px;
    }
    .p-resa{
        font-size: 30px;
    }
    input{
        width: 150px;
    }
    .p-contact{
        font-size: 26px;
    }
    .span-horaire{
        font-size: 18px;
    }
    .carte-resto{
        font-size: 20px;
    }
}
@media (max-width: 800px){
    #video-presta{
        padding-bottom: 10px;
    }
}
@media (max-width: 768px){
    #logo-site{
        height: 9vh;
    }
    .img{
        padding-left: 3px;
    }
    .titre-header{
        padding-right: 0;
        padding-top: 40px;
        transform: translateX(-290px); 
    }
    .titre-footer{
        padding-top: 40px;
        padding-left: 90px;
    }
    .btn-group{
        height: 7vh;
        padding-bottom: 5px;
        right: 27px;
    }
    .dropdown-menu{
        margin-left: 0 !important;
    }
    .img-footer{
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #video-presta{
        overflow: hidden;
        height: 400px;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    video{
        width: 100%;
    }
    #maps{
        height: 300px;
    }
    .carousel-inner h5{
        font-size: 25px;
        transform: translateY(0);
    }
    .p-carousel{
        font-size: 15px;
    }
    .nxt-icon-4{
        transform: translateY(-80px);
    }
    .prv-icon-4{
        transform: translateY(-80px);
    }
    .p-contact{
        font-size: 20px;
    }
    .span-horaire{
        font-size: 12px;
    }
    .content-contact{
        width: auto;
    }
}
@media (max-width:550px){
    .btn-group{
        right: 10px;
    }
    .titre-header{
        padding-left: 10px;
        transform: translateX(-190px);
    }
    .titre-footer{
        padding-left: 20px;
    }
    h1{
        font-size: 20px;
    }
    #video-presta{
        height: 300px;
    }
    .offcanvas{
        height: 300px;
    }
    .p-resa{
        font-size: 20px;
    }
    .dropdown-menu{
        font-size: 10px;
    }
}
@media (max-width: 420px){
    #video-presta{
        height: 200px;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    #carouselExampleCaptions-1{
        padding-top: 10px;
    }
    #carouselExampleCaptions-2{
        padding-top: 10px;
    }
    #carouselExampleCaptions-3{
        padding-top: 10px;
    }
    h1{
        font-size: 20px;
    }
    .titre-header{
        transform: translateX(-115px);
    }
    .titre-footer{
        transform: translateX(-10px);
    }
    #myBtn{
        padding: 10px;
    }
    .dropdown-toggle{
        transform: translateX(-15px);
    }
}
@media (max-width: 375px){
    h1{
        font-size: 20px;
    }
    #video-presta{
        height: 210px;
    }
    video{
        height: 210px;
    }
    .titre-header{
        transform: translateX(-100px);
    }
    .titre-footer{
        padding-right: 0;
    }
    .dropdown-toggle{
        transform: translateX(-20px);
    }
    
    
    
}
@media (max-width: 360px){
    #video-presta{
        height: 190px;
        padding-top: 10px;
    }
    .titre-footer{
        transform: translateX(-10px);
    }
    .titre-header{
        padding-left: 0;
        transform: translateX(-100px);
    }
    #carouselExampleCaptions-3{
        padding-top: 10px;
    }
    #avis{
        font-size: 20px;
    }
    #myBtn{
        padding: 10px;
    }
    .dropdown-toggle{
        transform: translateX(-20px);
    }
    
}
@media (max-width: 320px){
    .titre-header{
        padding-left: 0px;
    }
    #video-presta{
        height: 150px;
    }
    video{
        height: 150px;
    }
    #carouselExampleCaptions-1{
        padding-top: 10px;
    }
    #carouselExampleCaptions-2{
        padding-top: 10px;
    }
    .carousel-inner h5{
        transform: translateY(0);
    }
    .dropdown-toggle{
        transform: translateX(-20px);
    }
    h1{
        font-size: 20px;
    }
    h2, h3{
        font-size: 20px;
    }
    header h1{
        transform: translateX(20px);
    }
    .titre-footer{
        padding: 0;
    }
    footer h1{
        padding-left: 10px;
    }
    #myBtn{
        padding: 8px;
    }
}
@media (max-width: 280px){
    #video-presta{
        height: 150px;
        padding-bottom: 10px;
    }
    video{
        height: 150px;
    }
    #coordonnees{
        padding-top: 0;
    }
    .logo-site{
        height: 8vh;
    }
    .titre-header{
        padding: 0;
        padding-top: 20px;
    }
    .btn-group{
        height: 40px; 
    }
    .dropdown-toggle{
        transform: translateX(-35px);
    }
    #carouselExampleCaptions-3{
        padding-top: 10px;
    }
    .carousel-inner h5{
        font-size: 20px;
        transform: translateY(0);
    }
    .p-carousel{
        font-size: 15px;
    }
    .titre-footer{
        padding: 0;
    }
    h1{
        font-size: 15px;
    }
    h2, h3{
        font-size: 20px;
    }
    #fleche{
        width: 30px;
    }
    .offcanvas{
        height: 300px;
    }
    .p-resa{
        font-size: 20px;
    }
    #myBtn{
        padding: 10px;
    }
    .p-contact{
        font-size: 20px;
    }
    .carte-resto{
        font-size: 13px;
    }
}