@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
/* Body */
body{
    background: #1b1b1b;
}
h2, h3{
    color: #f8ffd7;
}
p{
    color: whitesmoke;
}
.container{
    background: #757575;
    padding-right: 30px;
    padding-left: 30px;
}
/* Header */
header{
    background: #912323;
}
.text-center{
    display: flex;
    justify-content: space-between;
}
.titre-header{
    font-family: 'Lobster', cursive;
    padding-top: 50px;
    color: #f8ffd7;
    display: flex;
    justify-content: center;
}
.logo-site{
    height: 11vh;
    padding-top: 10px;
    padding-left: 10px;
} 
/* Bouton Menu */
.btn-group{
    height: 5vh;
     transform: translateY(30px);
}
.btn-secondary{
    background: #1b1b1b;
}
/* Section coordonnées */
.row{
    margin: 0;
    padding: 0;
}
#coordonnees{
    padding-top: 30px;
    padding-bottom: 30px;
}
.h2-contact{
    padding-bottom: 20px;
}
#maps{
    border-radius: 15px;
    width: 100%;
}
/* footer */
footer{
    background: #912323;
    width: 100%;
}

.titre-footer{
    font-family: 'Lobster', cursive; 
    color: #f8ffd7;  
    display: flex;
    justify-content: center;
    align-self: center;
}
/* Button Back To Top */
#myBtn {
    border: none; 
    border-radius: 50px;
    background-color: #f8ffd7; 
    cursor: pointer; 
    padding: 15px;   
}
#myBtn:hover {
    background-color: #555; 
}
.back-to-up{
    display: flex;
    justify-content: flex-end;
}
.but{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
}
#fleche{
    width: 40px;
}

/* Media Querry */
@media (max-width: 800px){
    #maps{
        
    }
}
@media (max-width: 1030px){
    .img, .img-footer{
        padding: 0;
    }
    #video-presta{
        height: auto;
    }
    video{
        width: 100%;
    }
    /* #maps{
        width: 430px;
    } */
    .btn-group{
        padding: 0;
        position: fixed;
        right: 45px;
    }
    .titre-header{
        padding-top: 5px;
        padding-left: 10px;
    }
    .titre-footer{
        padding-top: 5px;
    }
}
@media (max-width: 768px){
    #logo-site{
        height: 9vh;
    }
    .img{
        padding-left: 3px;
    }
    .titre-header{
        padding-right: 0;
        padding-top: 40px;
        padding-left: 20px;  
    }
    .titre-footer{
        padding-top: 40px;
        padding-left: 90px;
    }
    .btn-group{
        height: 7vh;
        padding-bottom: 5px;
        position: fixed;
        right: 67px;
    }
    .popover{
        transform: translate(-30px, 80px) !important; 
    }
    .popover-arrow{
        transform: translate3d(-30px, -12px, 0px) rotate(90deg) !important;
    }
    .img-footer{
        padding-left: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    #video-presta{
        overflow: hidden;
        height: 400px;
    }
    video{
        width: 100%;
    }
    #maps{
        height: 300px;
    }
}
@media (max-width:550px){
    .btn-group{
        position: fixed;
        right: 10px;
    }
    .titre-header{
        padding-left: 10px;
    }
    .titre-footer{
        padding-left: 10px;
    }
}
@media (max-width: 420px){
    #video-presta{
        height: 200px;
    }
    .titre-header{
        padding-left: 50px;
    }
    .titre-footer{
        padding-right: 60px;
    }
}
@media (max-width: 360px){
    /* #maps{
        width: auto;
    } */
    .titre-footer{
        padding-left: 40px;
    }
    .titre-header{
        padding-left: 40px;
    }
    #video-presta{
        height: 200px;
    }
    video{
        height: auto;
    }
}
@media (max-width: 320px){
    .titre-header{
        padding-left: 0px;
    }
    .container{
        padding: 0;
    }
    .GoogleMapsPerso{
        padding: 0;
    }
    h1{
        font-size: 20px;
    }
    header h1{
        transform: translateX(-75px);
    }
    .titre-footer{
        padding: 0;
    }
    footer h1{
        padding-left: 10px;
    }
}
@media (max-width: 280px){
    video{
        height: auto;
    }
    #coordonnees{
        padding-top: 0;
    }
    .logo-site{
        height: 8vh;
    }
    .titre-header{
        padding: 0;
    }
    .titre-footer{
        padding: 0;
    }
}